.DS_Store
DerivedData/
Patches.xcodeproj/project.xcworkspace/xcuserdata/
Patches.xcodeproj/xcuserdata/
Patches.xcodeproj/project.xcworkspace/xcshareddata/Patches.xccheckout
build/*
!build/readme.txt
downloads
AppleHDA_ALC892.kext
AppleHDAHCD_ALC892.kext
AppleHDA_ALC892_Resources
