.DS_Store
DerivedData/
Patches.xcodeproj/project.xcworkspace/xcuserdata/
Patches.xcodeproj/xcuserdata/
Patches.xcodeproj/project.xcworkspace/xcshareddata/Patches.xccheckout
build/*
!build/readme.txt
downloads